.countryeExplorImage {
  padding: 50px 0px;
  width: 100%;
  height: 50%;
}
.countryExplrTextParent {
  padding: 30px;
}
.countryExplrPara1 {
  color: gray;
  margin-top: 12px;
  font-size: 18px;
}
.countryExplrFeaturHead {
  margin-top: 20px;
}
.countryExplrTextParent ul {
  color: gray;
  font-size: 20px;
  margin-top: 12px;
  padding: 0px 20px;
}
.countryExplrTextParent ul li {
  margin-top: 10px;
}
.countryExplrTextParent strong {
  color: #4b5563;
}
.countryExplrPara2 {
  color: #4b5563;
  margin-top: 14px;
  font-size: 20px;
}
.countryExplrPara3 {
  color: gray;
  margin-top: 10px;
  font-size: 20px;
}
.countryExplrVisitLink {
  text-decoration: none;
  color: blue;
  font-weight: 700;
}
@media (max-width:1359px) {
    .countryeExplorImage{
        width: 100%;
        height: 50vw;
    }
    .countryExplrTextParent{
        padding: 20px;
    }
}
